body{
    background-color:hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto ;


}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 5%;
    align-items: center;
    padding: 20px;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 5%;
}